.template {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 18% 82%;
  grid-template-rows: 70px auto;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.sidebar {
  display: grid;
  grid-template-rows: 80px;
  grid-template-areas:
    "top"
    "menu"
    "footer";
}

.logo {
  width: 100%;
}

.header {
  grid-area: header;
  background-color: green;
  margin: auto 0;
  height: 100%;
}

.navbar {
  align-items: center;
}

.navbar-toggler {
  width: 30px;
  height: 30px;
  background: white;
  border: 0;
  cursor: pointer;
}
