<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!--layout class="ch.qos.logback.classic.PatternLayout"-->
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%-16.16thread] %-5level %-32.32logger{36} - %msg%n</Pattern>
		</encoder>
		<!--/layout-->
	</appender>

	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/log/util/util-common.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/log/util/util-common.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%-16.16thread] %-5level %-32.32logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="jdbc" 				level="off" />
    <logger name="jdbc.sqlonly" 		level="off" />
    <logger name="jdbc.sqltiming" 		level="debug" />
    <logger name="jdbc.audit" 			level="off" />
    <logger name="jdbc.connection" 		level="off" />
    <logger name="jdbc.resultset" 		level="off" />
    <logger name="jdbc.resultsettable" 	level="debug" />
    <logger name="com.util.msa_common" 		level="info"/>
    <logger name="com.zaxxer.hikari" 	level="info"/>
    
	<root level="info">
		<appender-ref ref="ROLLING"/>
		<appender-ref ref="STDOUT"/>
	</root>
 
</configuration>
